.ajanvaraus-p {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #044048;
    margin: 0 auto;
}

.xcontainer {
    margin-top: 100px;
}
span {
    font-weight: bold;
}
