.form-container {
    max-width: 410px;
    min-height: 458px;
    background-color: #01AFC6;
    box-sizing: border-box;
    padding: 0px 30px 0px 30px;
}

input {
    width: 350px;
    height: 55px;
    border: 0;
}

.label-p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #F7F7F7;
    margin: 0;
}

.padding1 {
    padding-top: 27px;
    padding-bottom: 11px;
}

.padding2 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.form-h2 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 60px;
    margin-top: 50px;
}

.center-button {
    width: 62.5%;
    height: 61px;
    border-radius: 10px;
    text-align: center;
    background-color: #044048;
    vertical-align: center;
    border: 0;
    transition: background-color 0.1s ease-out;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 35px;
    cursor: pointer;
}

.center-button:hover {
    background-color: black;
}
input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    outline: none;
    background-color: #F7F7F7;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.button-p {
    margin: 0;
    padding-top: 15px;
}

textarea {
    width: 100%;
    height: 140px;
    resize: none;
    border: 0;
    outline: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 20px;
    background-color: #F7F7F7;
}

@media only screen and (max-width: 430px) {
    .form-container {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {
    input {
        width: 100%;
    }
}

