@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.start-button {
    width: 223px;
    height: 88px;
    background-color: #01afc6;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in 0s,
        border-radius 0.1s ease-out;
    margin-top: 20px;
}

.start-button-h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
}

.start-button:hover {
    background-color: black;
}

.start-button:active {
    background-color: grey;
}
