.formflex-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 956px;
    min-height: 539px;
    margin: 0 auto;
    background-color: #044048;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

@media only screen and (max-width: 450px) {
    .formflex-container {
        width: 100%;
    }
}

@media only screen and (max-width: 819px) {
    .formflex-container {
        padding-bottoM: 40px;
    }
}

