.arrow-button-right {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid #044048;
    cursor: pointer;
}
.arrow-button-right:hover {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid grey;
}

.arrow-button-left {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 35px solid #044048;
    cursor: pointer;
}
.arrow-button-left:hover {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 35px solid grey;
}

