.reservation-column {
    width: 273px;
    height: auto;
    border: 2px solid black;
}

.choose-time-container {
    border: 2px solid black;
    width: 230px;
    height: 53px;
    margin: 15px auto;
    background-color: whitesmoke;
}

.reservation-p {
    display: inline-block;
    margin-left: 20px;
    width: 115px;
}

.date-p {
    text-align: center;
    margin: 5px;
}

.reservation-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.varaa-nappula {
    display: inline;
    width: 115px;
    padding: 6px;
    margin-left: 5px;
    background-color: lightgray;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
    border: 1px solid black;
}

.varaa-nappula:hover {
    background-color: rgb(110, 110, 110);
}

.chooseweek-container {
    width: 300px;
    height: auto;
    margin: 30px auto;
    display: flex;
    justify-content: space-between
}