.teacher-picture {
    width: 240px;
    height: 230px;
    background-color: #C3C3C3;
}

.teacher-p {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    font-weight: normal;
    color: #044048;
}

.valitse-teacher-button {
    width: 204px;
    height: 83px;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 0;
    border-radius: 56px;
    background-color: #01AFC6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 45px;
    color: #FFFFFF;
    cursor: pointer;
}

.valitse-teacher-button:hover {
    background-color: black;
}

.valitse-button-p {
    text-align: center;
}

.teacher-container {
    width: 240px;
    height: 449px;
    margin: 0px 20px 0px 20px;
}

.teacher-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
};
