.teacher-picture {
    width: 275px;
    height: 165px;
    border: 2px solid black;
    margin: 0 auto;
}

.teacher-p {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}

.valitse-teacher-button {
    width: 235px;
    height: 50px;
    border: 2px solid black;
    display: block;
    margin: 15px auto;
    transition: background-color;
    text-align: center;
    background-color: rgba(0, 0, 0, 0)
}

.valitse-teacher-button:hover {
    background-color: lightslategray;
}

.valitse-button-p {
    text-align: center;
}

.teacher-container {
    width: 315px;
    height: 320px;
}

.teacher-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
};
